.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1e9d0;
  color: #43311F;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

h1 {
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1, .header img {
  margin-right: auto;
}

.header-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

nav ul li a:hover {
  text-decoration: underline;
}
